body{
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
}

.center-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.what-is-twiceflix{
    font-weight: 400;
}

.credits{
    font-family: "Anton", sans-serif;
    font-weight: 100;
    color: #ff1c0b; 
}

.credits a{
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

img{
  transition: transform 0.2s;
}

img:hover{
    transform: scale(1.04);
}